.HA_VERSION
.shopping_list.json
automations.yaml
configuration.yaml
harmony_*.conf
home-assistant*.log*
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
scenes.yaml
scripts.yaml
secrets.yaml
.storage/
blueprints/
custom_components/hacs/
esphome/.gitignore
esphome/
tts/
custom_components/hs_command_listener/hs_command_listener.pyproj.user
custom_components/hs_command_listener/.github/hacs.json
custom_components/hs_command_listener/.vs/
